<div id="footer">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <a class="navbar-brand" href="/pages/home"> 
          <%= image_tag "orangeLogoLarge.png", class: "mb-2", alt:"logo", style: "width: 200px" %>
        </a>         
        <span class="d-block mb-3 text-muted">&copy; <%= Date.current.year %></span>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-2" style="color: #333; font-weight: 700; font-size: 1.3rem;">Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <%= link_to "Log in", new_user_session_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Sign up", new_user_registration_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Advanced Search", search_path(q: {"address_cont": @location_received }), class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Local Search", search_path(q: {"address_cont": @location_received }), class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Hosting New Location", new_room_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Profile Update", edit_user_registration_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Your Hosting List", rooms_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Your Customer Reservation", yourlisting_reservations_path, class: "text-muted" %>
          </li>
          <li class="mb-1">
            <%= link_to "Your Cart", your_trips_path, class: "text-muted" %>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-2" style="color: #333; font-weight: 700; font-size: 1.3rem;">Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-2">Photos from <a class="text-muted" href="https://www.pexels.com/" target="_blank">Pexels</a></li>
          <li class="mb-2">
            <%= link_to "Photo Artists", attribution_path, class: "text-muted", target: "_blank" %>
          </li>
          <li class="mb-2">People vector Created by <a class="text-muted" href="https://www.freepik.com/vectors/people" target="_blank"> Freepik</a></li>
          <li class="mb-2">Logo Design Created with <a class="text-muted" href="https://www.LogoMakr.com" target="_blank"> LogoMakr</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-2" style="color: #333; font-weight: 700; font-size: 1.3rem;">About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <div class="text-muted mt-2 mb-4 d-flex">
              <a href="https://devneolee.github.io/justinklee/" target="_blank" style="display: flex; align-items: center; gap: 8px; transition: all 0.3s ease;">
                <span>© Justin K Lee</span>
                <%= image_tag "blueplane_icon.svg", width: "25px", class: "blueplane", style: "transition: transform 0.3s ease;"%> 
              </a>
            </div>
          </li>
          <li class="mb-4">
            <a target="_blank" href="https://github.com/devneoLee" style="display: flex; align-items: center; gap: 8px;">
              <span>GitHub</span>
              <i class="fab fa-github fa-lg"></i>
            </a>
          </li>      								       
          <li class="mt-2 mb-4">
            <a target="_blank" href="https://www.linkedin.com/in/justinklee215/" style="display: flex; align-items: center; gap: 8px;">
              <span>LinkedIn</span>
              <i class="fab fa-linkedin fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>    
</div> 