<% if reviews == nil || reviews.count == 0 %>
    <div class="text-center"><h4>There is no Review yet.</h4></div>
<% else %>
    <% reviews.each do |review|%>
    <% if review.user %>
    <div class="reviews-list-card">
        <%= image_tag review.user.default_avatar, class: "avatar-medium" %>
        <div class="review-content">
            <div class="review-meta">
                <div><%= review.user.name %></div>
                <div><%= review.created_at.strftime("%d-%b-%Y") %></div>
            </div>
            <div class="review-comment"><%= review.comment %></div>
            <div class="star-rating star_min_width" data-score="<%= review.star %>"></div>
        </div>
    </div>
    <% end %>
    <% end %>
<% end %>

