<!DOCTYPE html>
<html>
  <head>
    <title>DeskShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" %>
    
    <!-- Load jQuery first -->
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.7.1.min.js", crossorigin: "anonymous", integrity: "sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" %>
    
    <!-- Load jQuery UI -->
    <%= javascript_include_tag "https://code.jquery.com/ui/1.13.2/jquery-ui.min.js", crossorigin: "anonymous" %>
    
    <!-- Load Toastr JavaScript after jQuery -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" %>
    
    <!-- Font Awesome is already loaded via CDN -->
    
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ ENV['MAPS_API_KEY']}&libraries=places&loading=async",
                            async: true,
                            defer: true,
                            "data-turbo-eval": false %>
    <%= favicon_link_tag asset_path('orangePolygonLarge.png') %>
    
    <!-- Font Awesome star rating system is now handled in individual pages -->
  </head>

  <body>
    <script>
function openMobileDrawer() {
  document.getElementById('mobileDrawer').classList.add('open');
  document.getElementById('mobileBackdrop').classList.add('show');
}
function closeMobileDrawer() {
  document.getElementById('mobileDrawer').classList.remove('open');
  document.getElementById('mobileBackdrop').classList.remove('show');
}
</script>
    <%# navbar %>
    <%= render 'shared/navbar' %>      
  
    <%# main %>
    <%= render 'shared/message'%>
    <div class="container main" id="main">

      <%= yield %>

    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
